<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<configuration status="off" monitorInterval="1800">
    <appenders>
        <!-- 定义控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
        </Console>

        <!-- 系统打印日志 ,按照天记录日志;filePattern文件的格式-->
        <RollingRandomAccessFile name="System"
                                 fileName="log4j2.log" filePattern="logs/system_%d{yyyy-MM-dd}_%i.log">
            <!-- 日志文件中内容的格式 -->
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <!-- 一天记录的日志如果大于100m,重新再创建一个新的日志 -->
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
                <SizeBasedTriggeringPolicy size="100M" />
            </Policies>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <!-- Root Logger -->
        <!--        DEBUG-->
        <root level="INFO">
            <!-- 引入了一个Console和System -->
            <appender-ref ref="Console" />
            <appender-ref ref="System" />
        </root>

    </loggers>
</configuration>
